<div class="jumbotron" style="text-align: left">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">{{user.name}} {{user.surname}}</h2>
            <br>
            <dl class="dl-horizontal">
                <dt class="pull-left">Date of birth:</dt>
                <dd>{{user.birthday.substring(0,11)}}</dd>
                <dt class="pull-left">Email:</dt>
                <dd>{{user.email}}</dd>
                <dt class="pull-left">Phone:</dt>
                <dd>{{user.phone}}</dd>
                <dt class="pull-left">Address:</dt>
                <dd>{{user.address}}</dd>
            </dl>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item hoverable-item" ng-repeat="comment in user.comments | orderBy:'-created_date'">
                    <div class="row" style="font-size: 12px">
                        <div class="col-md-3">
                            <a ng-href="#/p/id/{{comment.pId}}">
                                {{comment.prodTitle}}
                            </a>
                        </div>
                        <div class="col-md-6">
                            {{comment.title}}
                        </div>
                        <div class="col-md-3">
                            <a class="text-muted" ng-href="#/post/id/{{comment._id}}">{{comment.created_date.substring(0,10)}}</a>
                            <br>
                            <p class="text-muted" style="font-size: 12px">Modificado el {{comment.modified_date.substring(0,10)}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" style="text-align: left;">
                            {{comment.text}}
                        </div>
                    </div>
                    <div class="row" ng-show="checkLogin(comment)">
                        <div class="col-md-4 col-md-offset-8">
                            <div class="btn-group pull-right">
                                <a class="btn btn-success" ng-href="#/post/id/{{comment._id}}/edit">Edit</a>
                                <button class="btn btn-danger" ng-click="removeComment(comment._id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>