<div class="jumbotron" style="text-align: left">
    <h2 class="text-center">{{user.name}} {{user.surname}}</h2>
    <dl class="dl-horizontal">
        <dt class="pull-left">Date of birth:</dt>
        <dd>{{user.year}}</dd>
        <dt class="pull-left">Email:</dt>
        <dd>{{user.email}}</dd>
        <dt class="pull-left">Phone:</dt>
        <dd>{{user.phone}}</dd>
        <dt class="pull-left">Address:</dt>
        <dd>{{user.address}}</dd>
    </dl>
    <br>
    <ul class="list-group">
        <li class="list-group-item hoverable-item" ng-repeat="comment in user.comments | orderBy:'-date'">
            <h3 class="pull-left">{{comment.production}}</h3>
            <br>
            <h4 class="pull-right">{{comment.date}}</h4>
            <br>
            <p>{{comment.text}}</p>
        </li>
    </ul>
</div>